.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.structure {
    padding: 8px 16px;
    box-sizing: border-box;
    border-radius: 6px;
    border-style: none;
}

.defaultColors {
    background: #E0E0E0;
    box-shadow: 0px 2px 3px 0px #33333333;

}

.default {
    
    @extend .structure;
    @extend .defaultColors;

    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    &:hover, &:focus {
        background: #AEAEAE;
    }

    .btnText {
        font-family: Noto Sans JP;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
    }
}

.outline {
    color: #3D5AFE;
    border: 1px solid #3D5AFE;
    background-color: white;

    box-shadow: unset;

    &:hover, &:focus  {
        background: #2962FF1A;
    }
}

.text {
    color: #3D5AFE;
    background: white;
    border: none;

    box-shadow: unset;

    &:hover, &:focus  {
        background: #2962FF1A;
    }
}

.disableShadow {
    
    background: #3D5AFE;
    box-shadow: unset;
    color: white;

    & > span {
        color: white
    }

    &:hover, &:focus {
        background: #3D5AFE;
    }
}

.disable {
    color: #9E9E9E;
    pointer-events: none;
}

.btnIconsContainer {
    display: flex;
    align-items: center;
}

.size-sm {
    height: 32px;
    padding: 6px 12px;
}

.size-md {
    padding: 8px 16px;
}

.size-lg {
    height: 42px;
    padding: 11px 22px;
}

.default {
    @extend .defaultColors;
}

.primary {
    background: #2962FF;
    box-shadow: 0px 2px 3px 0px #2962FF33;
    color: white;

    &:hover, &:focus {
        background: #0039CB;
    }
}

.secondary {
    background: #455A64;
    box-shadow: 0px 2px 3px 0px #455A6433;
    color: white;

    &:hover, &:focus {
        background: #1C313A;
    }
}

.danger {
    background: #D32F2F;
    box-shadow: 0px 2px 3px 0px #D32F2F33;
    color: white;

    &:hover, &:focus {
        background: #9A0007;
    }
}
